<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1000485760" />
			</requestFiltering>
		</security>
	</system.webServer>
	<appSettings>
		<add key="ServerPath" value="C:\Users\Ezwad_Ze\Desktop\Newfolder\"/>
	</appSettings>
</configuration>