@model TemroMastemar.Models.Audio

@{
    ViewData["Title"] = Model.AudioID == 0 ? "አዲስ ድምፅ ማስገቢያ" : "ነባር ድምፅ ማደሻ";

}

<h1>የድምፅ ቅፅ</h1>

<hr />

<div class="container">
    <form asp-action="AddorEdit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="AudioID" value="@Model.AudioID" />
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="AudioTitle" class="control-label"></label>
                    <span class="text-danger">*</span>
                    <input asp-for="AudioTitle" class="form-control" autocomplete="off" />
                    <span asp-validation-for="AudioTitle" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    @Html.LabelFor(model => model.AudioType, htmlAttributes: new { @class = "control-label" })
                    <span class="text-danger">*</span>
                    <div class="col-md-12 mt-2 dropdown btn btn-light">
                        @Html.DropDownListFor(model => model.AudioType,new SelectList(ViewBag.AudioType),"ዓይነት ይምረጡ", htmlAttributes: new {@class = "dropdown-item form-contol"})
                    </div>
                    <span asp-validation-for="AudioType" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="AudioFor" class="control-label"></label>
                    <input asp-for="AudioFor" class="form-control" autocomplete="off" />
                    <span asp-validation-for="AudioFor" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group mt-3">
                            <label asp-for="AudioDate" class="control-label"></label>
                            <input asp-for="AudioDate" class="form-control" />
                            <span asp-validation-for="AudioDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mt-3">
                            <label asp-for="AudioMonth" class="control-label"></label>
                            <input asp-for="AudioMonth" class="form-control" />
                            <span asp-validation-for="AudioMonth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mt-3">
                            <label asp-for="AudioYear" class="control-label"></label>
                            <span class="text-danger">*</span>
                            <input asp-for="AudioYear" class="form-control" />
                            <span asp-validation-for="AudioYear" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="AudioBy" class="control-label"></label>
                    <span class="text-danger">*</span>
                    <input asp-for="AudioBy" class="form-control" />
                    <span asp-validation-for="AudioBy" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Path" class="control-label"></label>
                    <input asp-for="Path" class="form-control" />
                    <span asp-validation-for="Path" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-5  mt-4 mb-5">
                    <div class="form-group">
                        <input type="submit" value="አስገባ" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-4  mt-5 mb-5">
                    <a asp-action="Index" class="btn btn-secondary">ተመለስ</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>


    <script>
        $(document).ready(function() {
            $('#editable').selectpicker();
        })
    </script>

}
