@{
    ViewData["Title"] = "የተለያዩ ምስሎችና ድምፆች";
}
<h1>የተለያዩ ምስሎችና ድምፆች</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-3">
                <div class="card-body shadow rounded hoverable">
                    <h5 class="card-title py-3">የተለያዩ ድምፆች</h5>
                    <a class="stretched-link" asp-controller="Audio" asp-action="Index"></a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mt-4 gap-2">
                <div class="card-body shadow rounded hoverable">
                    <h5 class="card-title py-3">የተለያዩ ምስሎች</h5>
                    <a class="stretched-link" asp-controller="Video" asp-action="Index"></a>
                </div>
            </div>
        </div>

    </div>
 </div>   