@{
    ViewData["Title"] = "የተለያዩ መዝገቦች";
}
<h1>የተለያዩ መዝገቦች</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-3">
                <div class="card-body shadow rounded hoverable">
                    <h5 class="card-title py-3">ቃለ ጉባኤዎች</h5>
                    <a class="stretched-link" asp-controller="Meeting" asp-action="Index"></a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mt-4 gap-2">
                <div class="card-body shadow rounded hoverable">
                    <h5 class="card-title py-3">ዘገባዎችና እቅዶች</h5>
                    <a class="stretched-link" asp-controller="Plan_and_Report" asp-action="Index"></a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mt-4 gap-2">
                <div class="card-body shadow rounded hoverable">
                    <h5 class="card-title py-3">የተለያዩ ደብዳቤዎች</h5>
                    <a class="stretched-link" asp-controller="Letter" asp-action="Index"></a>
                </div>
            </div>
        </div>

    </div>
        <div class="row">
        <div class="col-12">
            <div class="card mt-4 gap-2">
                <div class="card-body shadow rounded hoverable">
                    <h5 class="card-title py-3">የተለያዩ ቅፆች</h5>
                    <a class="stretched-link" asp-controller="Forms" asp-action="Index"></a>
                </div>
            </div>
        </div>

    </div>
        <div class="row">
        <div class="col-12">
            <div class="card mt-4 gap-2">
                <div class="card-body shadow rounded hoverable">
                    <h5 class="card-title py-3">የተለያዩ መመሪያዎች</h5>
                    <a class="stretched-link" asp-controller="Rule" asp-action="Index"></a>
                </div>
            </div>
        </div>

    </div>
</div>
