@model TemroMastemar.Models.Literature

@{
    ViewData["Title"] = Model.LiteratureID == 0 ? "አዲስ ሥነ ፅሁፍ ማስገቢያ" : "ነባር ሥነ ፅሁፍ ማደሻ";
}

<h1>የሥነ ፅሁፍ ቅፅ</h1>
<hr />
<div class="container">
    <form asp-action="AddorEdit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="LiteratureID" value="@Model.LiteratureID" />
        <input type="hidden" asp-for="Document" name="Document" />

        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="LiteratureTitle" class="control-label"></label> 
                    <span class="text-danger">*</span>
                    <input asp-for="LiteratureTitle" class="form-control" autocomplete="off" />
                    <span asp-validation-for="LiteratureTitle" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    @Html.LabelFor(model => model.LiteratureType, htmlAttributes: new { @class = "control-label" })
                    <span class="text-danger">*</span>
                    <div class="col-md-12 mt-2 dropdown btn btn-light">
                        @Html.DropDownListFor(model => model.LiteratureType,new SelectList(ViewBag.LiteratureType),"ዓይነት ይምረጡ", htmlAttributes: new {@class = "dropdown-item form-contol"})
                    </div>
                    <span asp-validation-for="LiteratureType" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="LiteratureFor" class="control-label"></label>
                    <span class="text-danger">*</span>
                    <input asp-for="LiteratureFor" class="form-control" autocomplete="off" />
                    <span asp-validation-for="LiteratureFor" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group mt-3">
                            <label asp-for="WrittenMonth" class="control-label"></label>
                            <input asp-for="WrittenMonth" class="form-control" autocomplete="off" />
                            <span asp-validation-for="WrittenMonth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group mt-3">
                            <label asp-for="WrittenYear" class="control-label"></label>
                            <input asp-for="WrittenYear" class="form-control" autocomplete="off" />
                            <span asp-validation-for="WrittenYear" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="MemberID" class="control-label"></label>
                    <span class="text-danger">*</span>
                    <div class="col-md-12 mt-2 dropdown btn btn-light">
                        <select asp-for="MemberID" class="form-control btn btn-light" asp-items="ViewBag.MemberID" id="editable" data-live-search="true"></select>
                    </div>
                    <input asp-for="member" type="hidden" />
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Physical_Document" class="control-label"></label>
                    <span class="text-danger">*</span>
                    <input asp-for="Physical_Document" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Physical_Document" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="LiteratureFile" class="control-label"></label>
                    <span class="text-danger">*</span>
                    <input asp-for="LiteratureFile" accept=".pdf" id="fileupload" name="LiteratureFile" class="form-control mt-2" />
                    <span asp-validation-for="LiteratureFile" class="text-danger"></span>
                </div>
                @if (@Model.LiteratureID != 0)
                {
                    <iframe src="~/Literature/@Model.Document#toolbar=0&navpanes=0" asp-append-version="true" width="100%" height="500px" class="mt-3"></iframe>

                }
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-5  mt-5 mb-5">
                    <div class="form-group">
                        <input type="submit" value="አስገባ" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-4  mt-5 mb-5">
                    <a asp-action="Index" class="btn btn-secondary ">ተመለስ</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>


    <script>
        $(document).ready(function() {
            $('#editable').selectpicker();
        })
    </script>

}
